{% extends '../base.html %}
{% load mathfilters %}

{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css" xmlns:href="http://www.w3.org/1999/xhtml"
	  xmlns:href="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
{% endblock%}

		{% block content%}
			<div id="board">
				<form id="search_form" action="" method="post">
					<input type="text" id="kwd" name="kwd" value="">
					<input type="submit" value="찾기">
				</form>
				<table class="tbl-ex">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>글쓴이</th>
						<th>조회수</th>
						<th>작성일</th>
						<th>&nbsp;</th>
					</tr>				
					{% for board in boardlist %}
					<tr>
						<td>{{boardlist | length | sub:forloop.counter | add:1}}</td>
						<td style="text-align:left; padding-left: {{board.depth | mul:10}}px">
                            <a href="/board/view?no={{board.no}}">
                                {% if board.depth > 1 %}
                                <img src="/assets/images/reply.png">
                                {% endif %}
                                {{ board.title  }}
                            </a>
						</td>
						<td>{{board.name}}</td>
						<td>{{board.view}}</td>
						<td>{{board.reg_date}}</td>
						<td>
						{% if board.user_no == request.session.authuser.no%}
							<a href="/board/delete?no={{board.no}}" class="del"> 삭제 </a>
						{% endif %}
						</td>
					</tr>
					{% endfor %}
				</table>
				
				<!-- pager 추가 -->
				<div class="pager">
					<ul>

						<li><a href="/board?page={{range.0}}">◀</a></li>

						{% for i in range %}
							{% if page == i %}
							<li class="selected">{{page}}</li>
							{% elif i > size %}
							<li><a style="color:gray">{{i}}</a></li>
							{% else %}
							<li><a style="color:black" href="/board?page={{i}}">{{i}}</a></li>
							{% endif %}
						{% endfor %}

						{% if page == size %}
						<a>▶</a>
						{% elif range.4 > size %}
						<li><a href="/board?page={{size}}">▶</a></li>
						{% else %}
						<li><a href="/board?page={{range.4}}">▶</a></li>
						{% endif %}
					</ul>
				</div>					
				<!-- pager 추가 -->

				{% if request.session.authuser != None %}
				<div class="bottom">
					<a href="/board/writeform" id="new-book">글쓰기</a>
				</div>
				{% endif %}
			</div>
			{% endblock %}